.cardImage a {
  position: relative;
  /* left: 20px; */
  top: 7px;
  font-size: 16px;
  z-index: 23;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.cardImage a:hover {
  color: #2c73d2;
}

.cardImage a i {
  color: orangered;
  font-size: 16px;
  /* margin-right: 10px; */
}
.cardImage {
  border: 1px solid #ccc;
  height: 40px;
  width: 340px;
  margin-bottom: 10px;
  margin-left: 3rem;
  margin-top: 1rem;
  overflow: hidden;
  text-align: center;
  background-color: lightgray;
  border-radius: 5px;
}
