.table {
  .cellWrapper {
    display: flex;
    align-items: center;

    .image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.delivered {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    } 
    &.pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }

    &.cancelled {
      color: red;
      background-color: rgba(189, 3, 3, 0.103);
    }

    &.shipped{
      color:rgb(10, 0, 188);
      background-color: rgba(9, 0, 188, 0.114);
    }

    
  }
}
