.productList {
  flex: 6;
  height: 800px;
  padding: 20px;
}

.productListItem {
  display: flex;
  align-items: center;
}

.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.productListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #0065db;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.productListDelete {
  color: #0065db;
  cursor: pointer;
}

.productAddButton {
  width: 10em;
  border: none;
  padding: 5px;
  background: none;
  color: #777;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1em;
}

.productAddButton:hover {
  color: rgb(188, 188, 188);
}


.addButton {
  border: none;
  padding: 0.5em;
  background-color:#0065db;
  color: white;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1em;
}