body {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 17px;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: black;
  }
  i,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  padding: 0;
  margin: 0;
}
input:focus,
select:focus,
textarea:focus {
  outline: 0px;
}
.row,
.col-6,
.col-4 {
  margin: 0;
  padding: 0;
}

/* Header */
.header {
    padding: 10px 0px 10px 0px;
  }
  .navbar-brand img {
    width: 60%;
  }
  .input-group {
    height: 50px;
    width: 90%;
  }
  .search-button {
    width: 20%;
    background-color: black;
    color: white;
    border: 0;
    text-transform: uppercase;
    font-size: 12px;
  }



  
  